@charset "UTF-8";

/*
test
SP ～519px
tab 520px～959px
pc 960px～
*/
/*==================
変数宣言
==================*/
:root {
    --size-sm: 1rem;
    --size-md: 1.6rem;
    --size-lg: 2.6rem;
    --size-xl: 4.2rem;
    --size-xxl: 6.6rem;
    --main-color: #f77237;
    --main-color-rgb: 247, 114, 55;
    --text-color: #44190c;
    --font-sans: 'Noto Sans JP', sans-serif;
    --font-serif: 'Noto Serif JP', serif;
    --gutter-base: 8px;
    --contents-side-gutter: calc(var(--gutter-base)*2);
    --contents-gutter: calc(var(--gutter-base)*5);
    --contents-gutter-pc: calc(var(--gutter-base)*10);
    --section-gutter: calc(var(--gutter-base)*10);
    --section-gutter-pc: calc(var(--gutter-base)*20);
    --footer-gutter: calc(var(--gutter-base)*30);
}


/*==================
共通設定
==================*/
html {
    font-size: 62.5%;
}


body {
    font-size: var(--size-md);
    line-height: 1.75;
    font-family: var(--font-sans);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.center {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.contents_title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--contents-gutter);
}

.contents_title.pc {
    display: none;
}

.btn {
    border: 1px solid var(--main-color);
    width: 350px;
    line-height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 0.4s;
    position: relative;
}

.btn::after {
    font-family: 'Material Symbols Outlined';
    content: "\e5c8";
    vertical-align: middle;
    position: absolute;
    right: 20px;
    transition: 0.4s;
}

.break {
    display: inline-block;
}

@media screen and (min-width:960px) {
    .contents_title {
        margin-bottom: var(--contents-gutter-pc);
    }

    .contents_title.sp {
        display: none;
    }

    .contents_title.pc {
        display: block;
    }

    .btn:hover {
        background-color: var(--main-color);
        color: #fff;
    }

    .btn:hover::after {
        content: "\e5cc";
        right: 15px;
    }
}

/*=======min-width:960px=======*/

/*==================
ヘッダー、ナビ
==================*/

header {
    padding-top: var(--gutter-base);
    padding-left: var(--gutter-base);
    padding-right: var(--gutter-base);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

header .header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header_inner h1 {
    width: 200px;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(var(--main-color-rgb), 0.8);
    padding-top: calc(var(--gutter-base)*10);
    padding-left: calc(var(--gutter-base)*5);
    padding-right: calc(var(--gutter-base)*5);
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
}

header.on nav {
    opacity: 1;
    visibility: visible;
}

header nav a {
    color: #fff;
    font-size: var(--size-lg);
    border-bottom: 2px dotted #fff;
    display: block;
    line-height: 2.5;
}

@media screen and (min-width:300px) {
    header nav a {
        font-size: var(--size-xl);
    }
}

/*=======min-width:300px=======*/

header .hum_menu {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding: var(--gutter-base);
    display: flex;
    align-items: center;
    z-index: 100;
    mix-blend-mode: difference;
}

header .hum_menu .hum_menu_text {
    margin-left: var(--gutter-base);
}

header .hum_menu .hum_menu_line::before,
header .hum_menu .hum_menu_line::after {
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--main-color);
    transition: 0.3s;
}

header .hum_menu .hum_menu_line::before {
    transform: translateY(-2px);
}

header .hum_menu .hum_menu_line::after {
    transform: translateY(4px);
}

header.on .hum_menu .hum_menu_line::before {
    transform: translateY(2px) rotate(45deg);
}

header.on .hum_menu .hum_menu_line::after {
    transform: translateY(0) rotate(-45deg);
}

@media screen and (min-width:960px) {
    header {
        padding-top: calc(var(--gutter-base)*3);
        padding-left: calc(var(--gutter-base)*3);
        padding-right: calc(var(--gutter-base)*3);
    }

    header .hum_menu {
        display: none;
    }

    header nav {
        visibility: visible;
        opacity: 1;
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background-color: transparent;
    }

    header nav a {
        color: var(--main-color);
        border: none;
        font-size: var(--size-md);
        line-height: 1.75;
    }

    header nav ul {
        display: flex;
    }

    header nav ul li {
        margin-left: calc(var(--gutter-base)*2);
    }
}

/*=======min-width:960px=======*/

/*==================
フッター
==================*/
footer {
    background-color: var(--main-color);
    color: #fff;
    padding: calc(var(--gutter-base)*3) 0;
}

footer img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
    margin-bottom: calc(var(--gutter-base)*3);
}

footer address {
    text-align: center;
    font-style: normal;
    margin-bottom: calc(var(--gutter-base)*3);
}

footer small {
    display: block;
    text-align: center;
}